.customhero-container {
    padding: 0!important;
    height: 800px;
    overflow: hidden;
}

.customhero-container p {
    margin: 0;
}

.customhero-wrapper {
    max-width: 100vw!important;
}

.customhero .hero-image img {
    width: 100%;
}

.hero-container {
    position: relative;
}

.hero-box {
    position: absolute;
    top: 48px;
    left: 15%;
    background-color: #fff;
    border-radius: 24px;
    min-width: 750px;
}

.hero-box-title {
    background: linear-gradient(to right, #14847f, #1c8a77 15.3%, #59b83b 82.8%, #63bf32);
    padding: 12px 0;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    width: 100%;
    font-weight: bold;
}

.hero-box-title p {
    font-size: 24px;
    color: #fff;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero-box-content {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

.hero-box-top {
    width: fit-content;
}

.hero-box-top p,.hero-box-bottom p {
    color: #50555b;
    font-size: 24px;
    font-weight: 700;
}

.hero-box-middle {
    text-align: center;
}

.hero-box-middle h4 {
    display: inline-block;
    font-size: 36px;
    color: #14847f;
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
}

.hero-box-bottom {
    text-align: right;
}

.hero-box-cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 30px;
}

.hero-box-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-box-card-image {
    width: 44px;
    height: 44px;
}

.hero-box-card-text {
    padding-left: 10px;
}

.hero-box-card-text p {
    margin: 0;
    font-weight: bold;
    color: #14847f;
    font-size: 24px;
    line-height: 1.2;
}

.hero-box-card-text p em {
    font-style: normal;
}

.hero-box-divider {
    background: linear-gradient(to right, rgba(123,205,151,0), rgba(123,205,151,1) 20%, rgba(224,234,36,1) 80%, rgba(224,234,36,0));
    height: 8px;
    margin: 0 auto;
    width: 95%;
}