.complexhero-container {
    padding: 0!important;
}

.complexhero-container p {
    margin: 0;
}

.complexhero-wrapper {
    max-width: 100vw!important;
    height: 800px;
    overflow: hidden;
}

.complexhero .hero-image img {
    width: 100%;
}

.hero-container {
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    width: 100%;
}