.isi-wrapper {
  padding: 2rem;
  font-size: var(--body-font-size-s);
  max-width: 1200px;
  margin: auto;
}

.isi h2 {
  font-size:  var(--body-font-size-s);
}

.safety-bar {
  background: white;
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: left;
  width: 100%;
}

.safety-bar table {
  border: none;
}

.safety-bar table th:first-child {
  padding-right: 20px;
  width: 60%;
}

.safety-bar-hidden {
  display: none;
}
