.isi-wrapper {
  padding: 2rem;
  font-size: var(--body-font-size-s);
  max-width: 1200px;
  margin: auto;
}

.isi h2 {
  font-size:  var(--body-font-size-s);
}

.safety-bar table {
  border: none;
}
